<!DOCTYPE html>

<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <style>
        /*p {
            height: 20px;
            width: 50%;
            background-color: green;
        }*/
        
        img {
            width: 5%;
        }
        
        #quit_img {
            float: left;
            padding: 10px;
        }
        
        #rich_img {
            float: left;
            padding: 10px;
        }
        
        #billioneer_icon {
            float: left;
            padding: 10px;
        }
        
        #main {
            width: 300%;
        }
        
        #timer {
            margin-top: 10%;
        }
    </style>
</head>

<div ng-app="millioneer" ng-controller="myCtrl">
    <div ng-show="!winner() && !quit">
        <div id="main">
            <img id="billioneer_icon" src="billioneer_letters.png" alt="">
            <img id="rich_img" src="rich.png">
            <img id="quit_img" src="quit.png" ng-click="quitGame()">
        </div><br>
        <h3 id="timer">timer : {{timer}}</h3>
        <h3>you play on : {{questions[index]["money"]}} shekels</h3>
        <h3>{{questions[index]["q"]}}</h3>
        <p ng-show="showAns1" ng-style="{'background-color':''}" ng-click="checkAns(index,'ans1')">{{questions[index]["ans1"]}}</p>
        <p ng-show="showAns2" ng-click="checkAns(index,'ans2')">{{questions[index]["ans2"]}}</p>
        <p ng-show="showAns3" ng-click="checkAns(index,'ans3')">{{questions[index]["ans3"]}}</p>
        <p ng-show="showAns4" ng-click="checkAns(index,'ans4')">{{questions[index]["ans4"]}}</p>
        <p ng-style="{'background-color':getColor()}">{{answer}}</p>
        <br>
        <!--</li>-->
        <!--</ul>-->

        <div class="right">
            <img src="crowd_icon.png" ng-show="!crowdOpinion" ng-click="crowd()">
            <img src="half_icon.png" ng-show="!splitClick" ng-click="split()">
            <img src="phoneMember_icon.png" ng-click="phoneMember()" ng-show="!disablePhoneMember">
        </div>

        <!--<button ng-show="!crowdOpinion" ng-click="crowd()">crowd opinion</button>
        <button ng-show="!splitClick" ng-click="split()">split</button>
        <button ng-click="phoneMember()" ng-show="!disablePhoneMember">phone member</button>-->
        <input ng-show="needToCall" type="text" ng-model="personToCall">
        <img src="phone_icon.png" ng-show="needToCall" ng-click="startDialPerson()">
        <p ng-show="startDial"> calling <span>{{personToCall}} ....</span></p>
        <p>{{contactAnswer}}</p>
        <p ng-show="crowdClick">{{crowdOpinion}}</p>

    </div>
    <div ng-show="winner()">
        <h1 ng-style="{'background-color':'green'}">congrtulation, you are Milioneer <br> you won : {{myMoney()}}</h1>
    </div>
    <div ng-show="quit">
        <h1 ng-style="{'background-color':'green'}">congrtulation, you won : {{myMoney()}}</h1>
    </div>
</div>

<script>
    var app = angular.module('millioneer', []);
    app.controller('myCtrl', function ($scope, $timeout, $interval) {
        $scope.questions = [{ "q": "what does cow drink?", "ans1": "milk", "ans2": "cuccumber", "ans3": "tommato", "ans4": "water", "money": 100, "correct": "ans4" },
        { "q": "what is the color of the sky?", "ans1": "blue", "ans2": "green", "ans3": "white", "ans4": "gold", "money": 200, "correct": "ans1" },
        { "q": "what is the speed of the chita?", "ans1": "20 kph", "ans2": "100 kph", "ans3": "900 kph", "ans4": "50 kph", "money": 400, "correct": "ans2" },
        { "q": "what is metabolizem?", "ans1": "extend of period", "ans2": "when a woman need to birth for the fiest time", "ans3": "exchange materials in our body", "ans4": "disappear of plants", "money": 800, "correct": "ans3" },
        { "q": "pick the singer?", "ans1": "Tiger Woods", "ans2": "Michel Phelps", "ans3": "Elvis Presli", "ans4": "Adam Sendler", "money": 1600, "correct": "ans3" },
        { "q": "best basketball player of all times?", "ans1": "Michel Jorden", "ans2": "Adam Daglas", "ans3": "Stephan Karry", "ans4": "James Harden", "money": 3200, "correct": "ans1" },
        { "q": "what is the tallest tree in the world?", "ans1": "Sherman tree", "ans2": "Giant Sequoia ", "ans3": "Grand Fir", "ans4": "Lawson Cypress", "money": 6400, "correct": "ans1" },
        { "q": "best Pizza in the world?", "ans1": "blNew York", "ans2": "Chicago", "ans3": "Rome", "ans4": "Florida", "money": 12500, "correct": "ans2" },
        { "q": "who is the most Communist Nation In The World?", "ans1": "Laos", "ans2": " North Korea", "ans3": "Cuab", "ans4": "Chaina", "money": 25000, "correct": "ans4" },
        { "q": "who is the richest country in the world?", "ans1": "Singapore", "ans2": "Luxembourg", "ans3": "Qatar", "ans4": "United States", "money": 50000, "correct": "ans3" },
        { "q": "which animall has the strongest bite?", "ans1": "Hippopotamus", "ans2": "Jaguar", "ans3": "Crocodile", "ans4": "Hyena", "money": 1000000, "correct": "ans3" }
        ];
        $scope.checkAns = function (x, ans) {
            if ($scope.crowdClick == true) {
                $scope.crowdClick = false;
            }
            if ($scope.splitClick == true) {
                $timeout(function () {
                    $scope.showAns1 = true;
                    $scope.showAns2 = true;
                    $scope.showAns3 = true;
                    $scope.showAns4 = true;
                }, 2000);

            }
            if ($scope.disablePhoneMember == true) {
                $scope.needToCall = false;
                $scope.contactAnswer = "";
            }
            $scope.ind = x;
            if (ans == $scope.questions[x]["correct"]) {
                $scope.answer = "CORRECT";
                // $interval.cancel(interval);
                $scope.stopTimer = true;

                $timeout(function () {
                    $scope.index++;
                    $scope.answer = "";
                    $scope.resetTimer();
                    $scope.stopTimer = false;

                }, 2000);

            }
            else {
                $scope.reestartWheels();
                $scope.answer = "WRONG";
                $scope.stopTimer = true;
                // $interval.cancel(interval);
                $timeout(function () {
                    $scope.money = 0;
                    $scope.index = 0;
                    $scope.answer = "";
                    $scope.resetTimer();
                    $scope.stopTimer = false;
                }, 2000);

            }
        }

        $scope.index = 0;
        $scope.timer = 60;
        $scope.personToCall = "";
        $scope.needToCall = false;
        $scope.startDial = false;
        $scope.contactAnswer = "";
        $scope.disablePhoneMember = false;
        $scope.showAns1 = true;
        $scope.showAns2 = true;
        $scope.showAns3 = true;
        $scope.showAns4 = true;
        $scope.splitClick = false;
        $scope.crowdOpinion = "";
        $scope.crowdClick = false;
        $scope.stopTimer = false;
        $scope.quit = false;

        $scope.quitGame = function () {
            $scope.quit = true;
        }
        $scope.reestartWheels = function () {
            $timeout(function () {
                $scope.splitClick = false;
                $scope.crowdOpinion = "";
                $scope.disablePhoneMember = false;
            }, 2000);
        }

        $scope.startDialPerson = function () {
            $scope.disablePhoneMember = true;
            $scope.startDial = true;
            $timeout(function () {
                var ans = $scope.questions[$scope.index]["correct"];
                var indAns = ans.substring(3);
                $scope.contactAnswer = "I think the answer is " + indAns;
                $scope.startDial = false;
                $scope.personToCall = "";
            }, 2000);
        }

        var interval = $interval(function () {
            if ($scope.timer > 0) {
                if ($scope.stopTimer == false) {
                    $scope.timer--;
                }
            } else {
                $scope.answer = "TIME OUT";
                $scope.reestartWheels();
                $timeout(function () {
                    $scope.index = 0;
                    $scope.answer = "";
                    $scope.resetTimer();
                }, 2000);
            }
        }, 1000);




        $scope.resetTimer = function () {
            $scope.timer = 60;



        }
        $scope.crowd = function () {
            $scope.crowdClick = true;
            var correctAns = $scope.questions[$scope.index]["correct"];
            scalasCrown = [
                [60, 20, 10, 10],
                [80, 5, 15, 0],
                [40, 10, 30, 20]
            ];
            var randScanlNum = Math.floor((Math.random() * 2) + 1);
            var choosenScal = scalasCrown[randScanlNum];
            var indCorrectAns = correctAns.substring(3);
            indCorrectAns--;
            if (indCorrectAns > 0) {
                var temp = choosenScal[0];
                choosenScal[0] = choosenScal[indCorrectAns];
                choosenScal[indCorrectAns] = temp;
            }
            $scope.crowdOpinion = "ans1 : " + choosenScal[0] + "%, " + "ans2 : " + choosenScal[1] + "%, " + "ans3 : " + choosenScal[2] + "%, " + "ans4 : " + choosenScal[3];



        }
        $scope.split = function () {
            $scope.splitClick = true;
            var correctAns = $scope.questions[$scope.index]["correct"];
            var counter = 0;
            do {
                var randNum = Math.floor((Math.random() * 4) + 1);
                var randAns = "ans" + randNum;
                if (randAns !== correctAns) {

                    switch (randAns) {
                        case "ans1":
                            if ($scope.showAns1 == true) {
                                counter++;
                                $scope.showAns1 = false;
                            }
                            break;
                        case "ans2":
                            if ($scope.showAns2 == true) {
                                counter++;
                                $scope.showAns2 = false;
                            }
                            break;
                        case "ans3":
                            if ($scope.showAns3 == true) {
                                counter++;
                                $scope.showAns3 = false;
                            }
                            break;
                        case "ans4":
                            if ($scope.showAns4 == true) {
                                counter++;
                                $scope.showAns4 = false;
                            }
                            break;
                    }
                }
            }
            while (counter < 2)
        }
        $scope.phoneMember = function () {
            $timeout(function () {
                $scope.needToCall = true;
                $scope.calling = "calling" + $scope.personToCall;
            });
            var correctAns = $scope.questions[$scope.index]["correct"];

        }
        $scope.myMoney = function () {
            if ($scope.index == 0) {
                return 0;
            }
            return $scope.questions[$scope.index - 1]["money"];
        }
        $scope.getColor = function () {
            if ($scope.answer == "CORRECT") { return "green"; }
            if ($scope.answer == "WRONG" || $scope.answer == "TIME OUT") { return "red"; }

        }
        $scope.winner = function () {
            return $scope.myMoney() === 1000000;
        }


    });

</script>


</html>

<!--the index is to remove items according to indexes-->